<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Arduino Sunrise</title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>

<div id="game"></div>

<script src="lib/phaser/phaser.min.js"></script>
<script src=<%= process.env.NODE_ENV === 'production' ? 'build/index-bundle.min.js' : 'build/index-bundle.dev.js' %> ></script>

</body>
</html>
