<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Arduino Sunrise</title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <script src="/lib/p5/p5.min.js"></script>
    <script src="/sketch.js"></script>

    <!--
    <style>
        body {
            padding: 0;
            margin: 0;
        }
    </style>
    -->

</head>
<body>

<h1>Arduino Sunrise</h1>

<div id='p5-canvas'></div>

</body>
</html>

